# Ignore image files in train and test folders
data/Retina/train/
data/Retina/test/
data/COVID-FL/train/
data/COVID-FL/test/

# Ignore checkpoints and logs
data/ckpts/

# Ignore all __pycache__ folders
__pycache__/
